html, body {
  font-size: 20px;
  width: 100vw;
  min-height: 100vh;
}

body {
  font-family: 'PT Serif', serif;
  line-height: 1.35;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga' 1, 'kern' 1;
  color: #222;
  background-color: #fffff8;
}

.content {
  flex: 1;
  min-width: 60ch;
  max-width: 60ch;
  padding: 0;
  position: relative;
  margin: 3em 12rem 0 12rem;
}

main {
  margin-bottom: 10rem;
}

.topic {
  text-transform: uppercase;
  padding-top: 0em;
  margin-top: 3rem;
}

.highlight {
  width: 100%;
  margin-right: 4rem;
  background-color: #fcfcf8;
  padding: 0.5rem;
  border-top: 1px solid #f0f0f8;
  border-bottom: 1px solid #f0f0f8;
  margin-bottom: 1.2rem;
  /* font-size: 16px; */
  font-size: 80%;
}

.highlight .linenos {
  display: none;
}

pre, .code, .mono, .gist * {
  font-family: 'PT Mono', monospace;
}

.gist .gist-meta {
  display: none;
}







.code {
  color: #07a;
  background-color: #fcfcf8;
}

.p { color: #888;}
.c { color: #998; font-style: italic; } /* Comment */
.err { color: red; font-style: italic; } /* Error */
.o { color: #000; } /* Operator */
.cm { color: #c2741f; font-style: italic } /* Comment.Multiline */
.cp { color: #c2741f; font-style: italic } /* Comment.Preproc */
.c1 { color: #c2741f; font-style: italic } /* Comment.Single */
.cs { color: #c2741f; font-style: italic } /* Comment.Special */
.gd { color: #000; background-color: #ffdddd } /* Generic.Deleted */
.ge { color: #000; font-style: italic } /* Generic.Emph */
.gr { color: #a00; } /* Generic.Error */
.gh { color: #999; } /* Generic.Heading */
.gi { color: #000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888; } /* Generic.Output */
.gp { color: #555; } /* Generic.Prompt */
.gs { } /* Generic.Strong */
.gu { color: #aaa; } /* Generic.Subheading */
.gt { color: #a00; } /* Generic.Traceback */
.k { color: #07a; } /* Keyword */
.kc { color: #07a; } /* Keyword.Constant */
.kd { color: #07a; } /* Keyword.Declaration */
.kn { color: #07a; } /* Keyword.Namespace */
.kp { color: #07a; } /* Keyword.Pseudo */
.kr { color: #07a; } /* Keyword.Reserved */
.kt { color: #07a; } /* Keyword.Type */
.na { color: #444; } /* Name.Attribute */
.nb { color: #07a; } /* Name.Builtin */
.nc { color: #444; } /* Name.Class */
.no { color: #444; } /* Name.Constant */
.nd { color: #444; } /* Name.Decorator */
.ni { color: #444; } /* Name.Entity */
.ne { color: #444; } /* Name.Exception */
.nf { color: #444; } /* Name.Function */
.nl { color: #444; } /* Name.Label */
.nn { color: #444; } /* Name.Namespace */
.nt { color: #444; } /* Name.Tag */
.nv { color: #444; } /* Name.Variable */
.ow { color: #444; } /* Operator.Word */
.w { color: #bbb; } /* Text.Whitespace */
.m { color: #275; } /* Literal.Number */
.mf { color: #275; } /* Literal.Number.Float */
.mh { color: #275; } /* Literal.Number.Hex */
.mi { color: #275; } /* Literal.Number.Integer */
.mo { color: #275; } /* Literal.Number.Oct */
.s { color: #275;} /* Literal.String */
.sb { color: #275; } /* Literal.String.Backtick */
.sc { color: #275; } /* Literal.String.Char */
.sd { color: #275; } /* Literal.String.Doc */
.s2 { color: #275; } /* Literal.String.Double */
.se { color: #275; } /* Literal.String.Escape */
.sh { color: #275; } /* Literal.String.Heredoc */
.si { color: #275; } /* Literal.String.Interpol */
.sx { color: #275; } /* Literal.String.Other */
.sr { color: #275; } /* Literal.String.Regex */
.s1 { color: #275; } /* Literal.String.Single */
.ss { color: #275; } /* Literal.String.Symbol */
.bp { color: #999; } /* Name.Builtin.Pseudo */
.vc { color: #077; } /* Name.Variable.Class */
.vg { color: #077; } /* Name.Variable.Global */
.vi { color: #077; } /* Name.Variable.Instance */
.il { color: #099; } /* Literal.Number.Integer.Long */



a {
  text-decoration: none;
  color: inherit;
  transition-property: background;
  transition-duration: 0.2s;
}

a:active {
  color: #777;
}

a:after {
  position: relative;
  content: "\FEFF°";
  margin-left: 0.10em;
  font-size: 90%;
  top: -0.10em;
  color: #933;
}

a[name]:after{ content: none; }

a.no-symbol-before:hover {
  background: none;
}

a.no-symbol-before:after {
  content: none;
}

div > a:after, li a:after {
  content: none;
}

a:hover {
  background-color: #afeeee;
  transition-property: background;
  transition-duration: 0.2s;
  border-radius: 0.35rem;
}

.box-link {
  text-transform: uppercase;
  padding: 1rem;
  color: black;
  opacity: 0.5;
  font-size: 80%;
  transition-property: opacity;
  transition-duration: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.nav > div {
  width: 33.333%;
  display: flex;
}

.box-link.previous {
  text-align: right;
}

.box-link.top {
  text-align: center;
}

.box-link.next {
  text-align: left;
}

.box-link:hover {
  border-radius: 0.1rem;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.2s;
}

.box-link:not(:first-child) {
  border-left: 1px dotted #222;
}

.nav {
  display: flex;
  min-width: 60ch;
  max-width: 60ch;
  margin: 0 12rem 0 12rem;
}

@media all and (max-width: 1200px) {
  html, body {
    font-size: 15px;
  }
  body {
    align-items: inherit;
  }
  .nav, .content {
    margin: 0 0.5rem 0 0.5rem;
    min-width: inherit;
  }
  .left-margin, .right-margin {
    display: none !important;
  }
}

.date {
  opacity: 0.8;
}

.left-margin {
  position: absolute;
  left: -12rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

h3.left-margin, h4.left-margin, .left-margin h3, .left-margin h4 {
  margin: 0;
  text-align: right;
}

.right-margin {
  position: absolute;
  left: calc(2rem + 60ch);
  width: 10rem;
  display: flex;
  flex-direction: column;
  margin: 0;
}
