:root {
  --family-primary: "IBM Plex Sans", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto
Color Emoji";
  --family-secondary: Galdeano, "IBM Plex Sans", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI
Symbol",
    "Noto Color Emoji";
  --body-line-height: 1.35;
  --color-content: #000000;
}

html,
body {
  font-size: 18px;
}

body {
  display: flex;
  justify-content: center;
}

main {
  max-width: 30rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content h1,
.content h2 {
  font-weight: 400;
  letter-spacing: 0.11em;
  margin-top: 3.5rem;
  text-transform: uppercase;
}

.content h1 {
  font-size: 1.5rem;
}

.content h2 {
  font-size: 1.3rem;
}

.content table td,
.content ul {
  padding-left: 0;
}

.content ul {
  list-style-type: lower-greek;
}

.content ul:not(:first-child) {
  margin-top: 0;
}

.content ul li {
  margin-left: -0.75rem;
}
